/* Rashpinder kaur, E-mail- Rashpinder4817@conestogac.on.ca */

html{
    font: 20px/1.5 'sans-serif';

}

body{

    width : auto;
    margin: 0.25rem auto;
    box-shadow: 0 0 0.5rem black;
    padding: 1rem;
    border-radius: 0.5rem;
   
}

header, footer{
    clear: both;
    background-color: #4177a4;
    padding:  0.5rem 0;
    text-align: center;
    color: white;
}



header h1{
    font-size: 2rem;
    font-variant: small-caps;
}
nav{
    background-color: rgb(3, 43, 75);
    padding: 0.25rem;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    position: relative;
    padding: 0.5rem 1.5rem;
}

nav ul li a{
  
    text-decoration: none;
    color: white;
    display: inline-block;
    font-variant: small-caps;

}

main h2{
    color: #113253;
    font-size: 1.5rem;
    text-align: center;
    font-variant: small-caps;
}

aside h2{
    color: #113253;
    font-size: 1.25rem;
    text-align: center;
    font-variant: small-caps;
}

.home>header{
    grid-area: gridheader;
}
.home>nav{
    grid-area: gridnav;
}
.home>main{
    grid-area: gridmain;
}
.home>aside{
    grid-area: gridaside;
}
.home>footer{
    grid-area: gridfooter;
}

.home{
    display: grid;
    grid-template-areas: 
        "gridheader gridheader gridheader"
        "gridnav gridnav gridnav"
        "gridmain gridmain gridaside"
        "gridfooter gridfooter gridfooter"
    ;
}

.home aside{
    /*change to background image*/
    background: url('') center/cover;
    background-color:#b4d1f2;
    padding: 0 1rem 1rem 1rem;

}
.home main{
    padding: 0 0.75rem 0.5rem 0;
}

/* Add CSS here for the form, table and gallery */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    width: 96%;
  }
  
  .image {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #4177a4;
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}



